// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// $primary   = #027be3
$primary   = #81a1c1
$secondary = #5e81ac
$tertiary  = #8fbcbb

$neutral   = #E0E1E2
$positive  = #88c0d0
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$body-background	= #4c566a
$body-color = #d8dee9
$table-hover-background	= #3b4252
$item-highlight-color	= #434c5e
$item-selected-color	= #434c5e


$layout-aside-color = #3b4252
$layout-aside-background= #3b4252
$layout-aside-left-width	= 220px
$layout-aside-shadow	 = $shadow-0
$layout-header-shadow	 = $shadow-0
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}