// Base component color of "Polar Night".
//
// Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
//
// Markup:
// <div style="background-color:#2e3440; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord0 = #2e3440;

// Lighter shade color of the base component color.
//
// Used as a lighter background color for UI elements like status bars.
//
// Markup:
// <div style="background-color:#3b4252; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord1 = #3b4252;

// Lighter shade color of the base component color.
//
// Used as line highlighting in the editor.  
// In the UI scope it may be used as selection- and highlight color.
//
// Markup:
// <div style="background-color:#434c5e; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord2 = #434c5e;

// Lighter shade color of the base component color.
//
// Used for comments, invisibles, indent- and wrap guide marker.  
// In the UI scope used as pseudoclass color for disabled elements.
//
// Markup:
// <div style="background-color:#4c566a; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
$primary  = #4c566a;
// $primary   = #2e3440
$secondary   = #81a1c1
$tertiary  = #8fbcbb

$neutral   = #E0E1E2
$positive  = #88c0d0
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$body-background	= #2e3440
$body-color = #d8dee9
$table-hover-background	= #3b4252
$item-highlight-color	= #434c5e
$item-selected-color	= #434c5e

$layout-aside-left-width	= 220px
$layout-aside-shadow	 = $shadow-0
$layout-header-shadow	 = $shadow-0
$layout-footer-shadow	 = $shadow-0

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;

  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}