// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'



$body-background	= #2e3440
$body-color = #d8dee9
$table-hover-background	= #3b4252
$item-highlight-color	= #434c5e
$item-selected-color	= #434c5e

$layout-aside-left-width	= 220px
$layout-aside-shadow	 = $shadow-0
$layout-header-shadow	 = $shadow-0
$layout-footer-shadow	 = $shadow-0

