// app global css
.bg-grey-2 {
  background: #3b4252 !important
}
.q-list {
    border: 0px solid #e0e0e0; 
    padding: 8px 0;
}
.q-item {
    border: 0px solid #e0e0e0; 
    padding: 8px 8px;
}
#user-name {
    left: 80px;
    bottom: 77px;
    position: relative;
    width: 159px;
    top: -72px;
    right: -90px;
}
#user-actions {
    left: 90px;
    bottom: 71px;
    position: relative;
    width: 171px;
}
img.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    vertical-align: middle;
}