// app global css
.bg-grey-2 {
  background: #4c566a !important
  color: #d8dee9 !important
}
.q-list {
    border: 0px solid #d8dee9; 
    padding: 8px 0;
    
}
.q-item-side {
  color: #8fbcbb;
}

.q-item {
    border: 0px solid #d8dee9; 
    padding: 8px 8px;
    
}
.q-layout-footer {
  background-color: #F2C037 !important
  
}