// app global css
footer {
	height: 22px !important;
	text-align: left;
	color: #000000 !important;
	// background-color: #03a9f4 !important;
	background-color: #31ccec !important;
}

.bg-grey-2 {
  background: #4c566a !important
  color: #d8dee9 !important
}
.q-list {
    border: 0px solid #d8dee9;
    padding: 8px 0;

}

.q-item-side {
  color: #8fbcbb;
}
.q-table thead, .q-table td, .q-table th {
  color: #fff !important;

}
.q-table-bottom {
  color: #fff
  }
.q-table {
  color: #fff
  }
.q-item {
    border: 0px solid #d8dee9;
    padding: 8px 8px;

}
