// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.
// Material only Quasar variables overwrites
// -----------------------------------------
// Base component color of "Polar Night".
//
// Used for texts, backgrounds, carets and structuring characters like curly- and square brackets.
//
// Markup:
// <div style="background-color:#2e3440; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord0 = #2e3440;

// Lighter shade color of the base component color.
//
// Used as a lighter background color for UI elements like status bars.
//
// Markup:
// <div style="background-color:#3b4252; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord1 = #3b4252;

// Lighter shade color of the base component color.
//
// Used as line highlighting in the editor.  
// In the UI scope it may be used as selection- and highlight color.
//
// Markup:
// <div style="background-color:#434c5e; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
nord2 = #434c5e;

// Lighter shade color of the base component color.
//
// Used for comments, invisibles, indent- and wrap guide marker.  
// In the UI scope used as pseudoclass color for disabled elements.
//
// Markup:
// <div style="background-color:#4c566a; width=60; height=60"></div>
//
// Styleguide Nord - Polar Night
$primary  = #4c566a;
$secondary   = #81a1c1
$tertiary  = #8fbcbb

$neutral   = #E0E1E2
$positive  = #88c0d0
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037